//
// Icon
//

.icon {
	width: $icon-size;
	height: $icon-size;

	i, svg {
		font-size: $icon-size - .75;
	}

    + .icon-text {
    	padding-left: 1rem;
    	width: calc(100% - #{$icon-size} - 1);
    }
}









